@model IEnumerable<JobPortal.Models.Application>

@{
    ViewData["Title"] = " Index ";
}

<h1> here you can find list of applications </h1>

@if (User.IsInRole("Employer"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">find New Applicant</a>
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-white bg-success p-2">Title: @item.Job.Title</h5>
                    <p class="card-text">
                        
                        <strong>Applicant:</strong> @item.User.FirstName<br />
                        <strong>Status:</strong> @item.Status<br />
                        <strong>Notes:</strong> @item.Notes<br />
                        <strong>Applied Date:</strong> @item.AppliedDate.ToShortDateString()<br />
                    </p>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Details" asp-route-id="@item.ApplicationId" class="btn btn-info btn-sm">Details</a>
                        @if (User.IsInRole("Employer"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ApplicationId" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ApplicationId" class="btn btn-danger btn-sm">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
