@model IEnumerable<JobPortal.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>List of available jobs</h1>

<p>
    @if(User.IsInRole("Employer"))
    {
        <a asp-action="Create" class="btn btn-primary">Poste a Job</a>
    }
    
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-white bg-success p-2">@item.Title</h5>
                    <p class="card-text">
                        <strong>Description:</strong> @item.Description<br />
                        <strong>Location:</strong> @item.Location<br />
                        <strong>Salary:</strong> @item.Salary<br />
                        <strong>Posted:</strong> @item.PostedDate.ToShortDateString()<br />
                        <strong>Deadline:</strong> @item.Deadline.ToShortDateString()
                    </p>
                    <div class="d-flex justify-content-between">
                        @if (User.IsInRole("Employer"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.JobId" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.JobId" class="btn btn-info btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.JobId" class="btn btn-danger btn-sm">Delete</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Users" asp-action="Create" class="btn btn-success btn-sm">Apply</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
