@model IEnumerable<JobPortal.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>place to meet each other</h1>

<p>
   <a asp-action="Create" class="btn btn-primary">registor to be a member</a> 
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-white bg-success p-2">@item.FirstName @item.LastName</h5>
                    <p class="card-text">
                        <strong>Email:</strong> @item.Email<br />
                        <strong>Role:</strong> @item.Role<br />
                        <strong>Registered On:</strong> @item.DateRegistered.ToShortDateString()
                    </p>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>                   
                    </div>
                </div>
            </div>
        </div>
    }
</div>
